/*------------------------------------------------------------
Project:        Final Project - 23W_MTM6130_040 Web Development - Interactive Media Design
Author:         Monica Torres

Content
1. General
	1.1 Grid Definition
2. Header 
    2.1 Navigation
    2.2 Personal Mark
3. Main Content
	3.1 Sidebar
4. Footer
5. Media Queries  ARE GIVEN BY BOOTSTRAP
Colors:
			Dark Goldenrod:	#c78c06
			Peach: 		    #ffe6ac
			Eerie Black:	#222
			White:          #ffffff
Fonts:
                font-family: 'Quicksand', sans-serif;
                font-family: 'Raleway', sans-serif;
                font-family: 'Roboto', sans-serif;
------------------------------------------------------------*/

